<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyFirstSite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <button type="button" class="btn btn-warning">Привет как дела?</button>
    <br><br>
    <button type="button" class="btn btn-primary btn-lg btn-block">Моё резюме</button>
    <br><br>
    <ul class="list-group">

      <li class="list-group-item">{{ MAS[0] }}</li>
      <li class="list-group-item">{{ MAS[1] }}</li>
      <li class="list-group-item">{{ MAS[2] }}</li>
      <li class="list-group-item">{{ MAS[3] }}</li>

        <br><br>

        {% for elm in MAS %}
            <li class="list-group-item">{{ elm }}</li>
        {% endfor %}

    </ul>
</body>
</html>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>